.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h4 {
    color: #6A6A6A;
  }

  .showLessBtn,
  .showMoreBtn {
    margin: 0 auto;
    padding: .5rem 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: .25s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  .showMoreBtn {
    border: 1px solid #E1AA14;
    color: #E1AA14;
    background-color: transparent;

    &:hover {
      border-color: #BEBEBE;
      color: #BEBEBE;
      cursor: pointer;
    }
  }

  .showLessBtn {
    color: white;
    background-color: #E1AA14;

    &:hover {
      background-color: #6A6A6A;
    }
  }
}