import style from './{{pascalCase name}}.module.scss';

const {{pascalCase name}} = () => {
    return (
        <div className={style.container}>

        </div>
    );
};

export default {{pascalCase name}};