.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  position: relative;

  .darkenFilter {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    filter: brightness(.25);
  }
}