.container {
  background-color: transparent;
  border: transparent;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .icon {
    font-size: 1.25rem;
    transition: color .25s ease-in-out;
  }

  &.seen {
    color: #E1AA14;
  }

  &.notSeen {
    color: white;
  }

}