.container {
  color: #BEBEBE;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(30, 30, 30, 0.75);
  border-radius: 5px;
  transition: .25s ease-in-out;
  .link{
    text-decoration: none;
  }
  .btn {
    color: #BEBEBE;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    width: 20px;
    height: 20px;
    background-color: rgba(30, 30, 30, 0.75);
    border-radius: 5px;
    transition: .25s ease-in-out;
    border: transparent;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      font-size: 1rem;
      color: white;
    }

    &:hover {
      background-color: rgba(30, 30, 30, 0.85);
      cursor: pointer;
      color: #E1AA14;
      .icon{
        color: #E1AA14;
      }
    }
  }
}